.content {
    margin: 40px 100px;
}
.famous-quote {
    display: flex;
    justify-content: space-around;
}
.famous-people-oli,
.famous-people-ram,
.famous-people-flay {
    width: 300px;
    height: 300px;
    color: #fff;
    border-radius: 20px;
}
.famous-people-oli {
    background: url(../../../../Image/Jamie-Oliver.jpg) no-repeat center/cover;
}
.famous-people-ram {
    background: url(../../../../Image/1.jpg) no-repeat center/cover;
}
.famous-people-flay {
    background: url(../../../../Image/2.jpg) no-repeat center/cover;
}
blockquote {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    font-size: 1.8rem;
    text-align: center;
}
.categories {
    margin: 40px 0;
    font-size: 2.4rem;
}
.uses-cate{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.see-detail{
    font-size: 1.8rem;
    cursor: pointer;

    &:hover{
        color: #fe2c55;
    }
}
