.see-detail,
.meal-ingredient {
    margin: 40px 100px;
}
.meal-categories,
.ingredient-name {
    font-size: 2.5rem;
}

// seach-ingredient
.misson {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-two{
    display: flex;

    select{
        outline: none;
        cursor: pointer;
    }
}
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    height: 40px;
    color: #d65108;
    border: 1px solid #d65108;
    border-radius: 3rem;
}
.search-input {
    padding: 0 10px;
    width: 350px;
    height: 100%;
    color: #d65108;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}
.icon-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    color: #fff;
    background: #d65108;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    cursor: pointer;
}
