.categories {
    justify-content: space-between;
    margin-top: 30px;
    font-size: 1.6rem;
}
.bnt-meal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .btn-meal-item {
        margin: 10px 20px;
        width: 150px;
    }
}
.categorie {
    display: flex;
    flex-wrap: wrap;
}
.categories-item {
    align-items: center;
    margin: 10px 0 20px 35px;
    padding: 20px;
    width: 400px;
    height: 220px;
    overflow: hidden;
    transition: all 0.3s linear;

    &:hover {
        box-shadow: 0 4px 21px -9px rgba(0, 0, 0, 0.79);
        border-radius: unset;
        border-radius: 2rem;
    }

    &:hover .img{
        transform: scale(1.5);
    }
    &:hover .name-meal{
        display: none;
    }
}
.img {
    width: 100%;
    height: 160px;
    border-radius: 2rem;
    object-fit: cover;
    transition: all 0.5s linear;
}
.name-meal{
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}