.detail-meal {
    display: flex;
    justify-content: center;
    margin: 40px 100px;
    padding: 20px 40px;
    height: 600px;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    transition: all 0.6s;

    &:hover {
        border-radius: unset;
        border-bottom-right-radius: 5rem;
        border-top-left-radius: 5rem;
        box-shadow: 0 4px 28px -12px rgba(0, 0, 0, 0.79);
    }
}
.info-meal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 30px;
    width: 350px;
}
.meal-image {
    margin-top: 20px;
    width: 350px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}
.meal-recipe {
    flex: 1;
    height: 100%;
}
.ingredient {
    margin-top: 10px;
}
.meal-ingredient {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
}
