.close-note{
    float: right;
    cursor: pointer;
}
.meal {
    clear: both;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.img-meal {
    width: 100px;
    border-radius: 20px;
}
.area {
    width: 60%;
    font-size: 1.6rem;
    color: #373636d4;
}
.name-meal {
    &:hover {
        text-decoration: underline;
    }
}

.hidden{
    display: none;
}