.note-meal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    width: 400px;
    background-color: #cccccca1;
    animation: leftWidth 0.5s linear;
}
@keyframes leftWidth {
    0% {
        right: -400px;
    }
    100% {
        right: 0;
    }
}
.close-note{
    float: right;
    cursor: pointer;
}
.meal {
    clear: both;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.img-meal {
    width: 100px;
    border-radius: 20px;
}
.area {
    width: 60%;
    font-size: 1.6rem;
    color: #373636d4;
}
.name-meal {
    &:hover {
        text-decoration: underline;
    }
}

.hidden{
    display: none;
}